name: Create release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version number (optional)'
        required: false
        default: ''
      run_id:
        description: 'GitHub Actions Run ID (optional)'
        required: false
        default: ''

jobs:
  create-release:
    if: github.repository == 'DIRACGrid/DIRACOS2'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          cache: true
          environments: release
      - name: Create release
        run: |
          pixi run -e release release-notes \
            --token="${{ secrets.GH_TOKEN }}" \
            --run-id="${{ github.event.inputs.run_id }}" \
            --version="${{ github.event.inputs.version }}" \
            --make-release
      - name: Setup upterm session
        # uses: lhotari/action-upterm@v1
        uses: chrisburr/action-upterm@patch-1
        if: ${{ failure() }}
        with:
          limit-access-to-actor: true
